body {
  background-color: #131515;
}
.App-header {

  align-items: center;
}
  .header-content {
    padding: 0px 80px 0px 80px;
    
  
  }
.nav-register-button {
 
  display: flex;
  justify-content:flex-end;
 
}
.nav-register-button img {
  width: 150px;
  margin-bottom: 50px;
}
.nav-register-button img:hover {
  background: rgba(208, 208, 208, 0.24);
  cursor: pointer;
}

.nav-register-button .nav-container {
  text-align: center;
  position: relative;
  top: 40%; 
  transform: translateY(-50%);
}

.nav-register-button .nav-container div {
  position: absolute;
  color: white;
  font-size: 24px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
 
  .header-content {
    padding: 0px 40px 0px 40px;
    
  
  }
  .nav-register-button img {
    width: 80px;
    margin-bottom: 25px;

  }
  
  
  .nav-register-button .nav-container div {
    font-size: 12px;
  }
  .nav-App-logo{
    
   
    width: 120px;
  }
  .nav-register-button {
  
    margin-left: 200px;
  }
}